<div class="site-footer-wrapper">
    <div class="container">
        <footer class="site-footer">
            <div class="main-nav-wrapper">
                <nav class="main-nav">
                    <!--#include virtual="/partials/nav-links.html" -->
                </nav>
            </div>
            <div class="footer-contact">
                <p>North Head Sanctuary Foundation, P.O.Box 506, Balgowlah, NSW 2093</p>
                <p>Email: <a href="mailto:secretary@northheadsanctuaryfoundation.org.au">secretary@northheadsanctuaryfoundation.org.au</a></p>
            </div>
            <div class="footer-copyright">
                <p>This page was coded for the North Head Sanctuary Foundation by Judith Bennett.<br>
                    <a href="/background/copyright.htm"><strong>Copyright and Disclaimer</strong></a>
                </p>
            </div>
        </footer>
    </div>
</div>
