<header class="site-header-wrapper">
    <div class="container">
        <div class="site-header">
            <div class="header-intro">
                <p>North Head Sanctuary Foundation is working with Government agencies towards the establishment of
                    <strong>Car-rang-gel Sanctuary</strong> on North Head at the gateway of Sydney Harbour - a
                    flagship for Australia's environmental resolve and a celebration of our natural and cultural heritage.
                </p>
            </div>
            <div class="header-media">
                <h3>Car-rang-gel Sanctuary on North Head, Sydney</h3>
                <div class="header-banner">
                    <img src="/images/places/North_Head.jpg" alt="Panoramic view of North Head, Sydney">
                </div>
            </div>
        </div>
    </div>
</header>
